[OAUTH]
client_id = ""
client_secret = ""
scope = ""
token_url = ""

[PARENT]
cloudId = "zscaler.net"
baseUrl = ""
api_key = "
username = ""
password = ""

[SUB1]
cloud_id = ""
organization_id = ""
api_key = ""
username = ""